.button{
  background-color: black;
  border: none;
  color: white;
  border-radius: 3em;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-weight: 650;
}