@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.App {
  text-align: center;
}

/* ==== 리셋 구간 ==== */
body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'NanumSquare';
}
h1, h2, h3{
  font-size: var(--font-size-md);
  font-weight: normal;
  margin: 0;
}

h4, h5, h6, dt, dd{
  font-size: var(--font-size-sm);
  font-weight: normal;
  margin: 0;
}

main{
  color: black;
  margin-top: 5em;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}
strong, em {
  font-weight: inherit;
  font-style: normal;
}

ul, ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
}

button{
  background-color: black;
  color: white;
  border-radius: 10dvw;
  cursor: pointer;
}

p{
  color: gray;
  margin-top: 2em;
  font-size: var(--font-size-ssm);
}

form{
  text-align: left;
}

/* ==== 반복 함수 생성 ==== */
:root {
  --body-margin : 0.5em;
  --font-size-md: clamp(1.5rem, 1.5vw, 2.5rem);
  --font-size-sm: clamp(1rem, 1.2vw, 2rem);
  --font-size-ssm: clamp(0.5em, 1vw, 1.5em);
}
/* 상단 메뉴바 CSS */
.nav{
  color: gray;
  cursor: pointer;
}

.nav:hover{
  color: gainsboro;
  cursor: pointer;
  border-bottom: 3px solid ghostwhite;
  transition: border-bottom 0.3s ease;
}

.nav:visited{
  color : white;
  cursor: pointer;
}

.nav.active{
  color: white;
  border-bottom: 3px solid ghostwhite;
}